:root {
    --dark-color: #0E2B18;
    --medium-color: #1D5932;
    --light-color: #589D4D;
    --lightest-color: #E8F8EE;
    --link-color: #0E2B18;
}

body{
  font-family: "Special Gothic", sans-serif;
}

main {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
}

#head {
    display: flex;
    justify-content: center
}

#head h3 a {
    color: var(--dark-color);
    text-decoration: none;
}

footer {
    text-align: center;
    justify-content: center;
    font-size: smaller;
}


/* Post Format  */
.post, #post {
    border: 6px solid var(--dark-color);
    margin-bottom: 1em;
    padding: .5em 1em;
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    a {
        color: var(--medium-color);
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

#post {
    background-color: var(--dark-color);
    color: var(--light-color);
    margin-bottom: 1em;
    padding: .5em 1em;
}



/* Three Column Grid  */
.three-columns-grid {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
}

.three-columns-grid > * {
    padding: 1rem;
    border: 6px solid var(--dark-color);
    margin-bottom: 1em;
    margin-top: 1em;
    margin-inline: 1em;
    img {
        opacity: 1;
        width: 100%;
        height: 200px;
        object-fit: cover;

        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .container {
        position: relative;
        width: 100%;
    }

    .middle {
        width: 100%;
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: left;
    }

    .container:hover .image {
        opacity: 0.3;
    }

    .container:hover .middle {
        opacity: 1;
    }

    .text {
        background-color: var(--lightest-color);
        color: var(--dark-color);
        font-size: 16px;
        padding: 16px 32px;
        align: left;
    }

}